Source: pybal
Section: net
Priority: optional
Maintainer: Mark Bergsma <mark@wikimedia.org>
Uploaders: Faidon Liambotis <faidon@wikimedia.org>
Build-Depends: debhelper (>= 8), python-all
Standards-Version: 3.9.3
Homepage: http://wikitech.wikimedia.org/view/Pybal

Package: pybal
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-twisted, ipvsadm
Description: Wikimedia LVS monitor
 PyBal is an LVS load balancer monitor. It checks the status of
 backend servers through various methods (monitors) and alters
 LVS state accordingly.
