Source: pybal
Section: unknown
Priority: optional
Maintainer: Mark Bergsma <mark@wikimedia.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: pybal
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ipvsadm, python-twisted
Description: Wikimedia LVS monitor
 PyBal is an LVS load balancer monitor. It checks the status of
 backend servers through various methods (monitors) and alters
 LVS state accordingly.
